

<div id="page-content-wrapper">

	<% if signed_in? %>

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
			    		<img src="assets/spinningwheel600.png" class="">
			    	</div>
			    	<div class="col-md-12" id="title">Do you feel <font weight="bold" color="#fab623">LUCKY?</font></div>
			    	<div class="col-md-12" id="subtitle"><a href="#">How does it work?</a></div>
		    	</div>
		    </div>
		</div>

	<% else %>

		<h1>User has nt yet signed in</h1> 

	<% end %>

</div>

<%=@welcome%>

<%=button_to "Buy Spins!", payments_path, method:"get", data: {'no-turbolink' => true} %>

