

<div id="page-content-wrapper" class="welcome-center">

	<% if signed_in? %>

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
			    		<%= image_tag("spinwheel.png") %>
			    	</div>
			    	<div class="col-md-12" id="title">Do you feel <font weight="bold" color="#fab623">LUCKY?</font></div>
			    	<div class="col-md-12" id="subtitle"><a href="#">How does it work?</a></div>
		    	</div>
		    </div>
		</div>

	<% else %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <%= image_tag("spinwheel.png", :class => "spinner") %>
          </div>
          <div class="col-md-12" id="title"><font weight="bold" color="#fab623">Eat Food. Meet People. Make Friends.</font></div>
          <div class="col-md-12" id="subtitle"><a href="#">How does it work?</a></div>
					<div>
        		<%= link_to 'Sign in to spin!!', sign_in_path, class:"btn btn-primary btn-lg"%>
					</div>
        </div>
      </div>
  </div>


	<% end %>

</div>

<%=@welcome%>
