



<p><%= link_to "RM15 = 1 token",{:controller => "payments", :action => "new",
    num_token: '1'}, method: :get%></p><br>
<p><%= link_to "RM30 = 2 token",{:controller => "payments", :action => "new",
    num_token: '2'}, method: :get%></p><br>
<p><%= link_to "RM75 = 5 token",{:controller => "payments", :action => "new",
    num_token: '5'}, method: :get%></p><br>
<p><%= link_to "RM150 = 10 token",{:controller => "payments", :action => "new",
    num_token: '10'}, method: :get%></p><br>