/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple-sidebar";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");


/* roulette */

@-moz-keyframes spin { 100% {-moz-transform: rotate(1080deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(1080deg); } }
@keyframes spin { 100% {transform: rotate(1080deg); } }

@-moz-keyframes welcomespin { 100% {-moz-transform: rotate(360deg); } }
@-webkit-keyframes welcomespin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes welcomespin { 100% {transform: rotate(360deg); } }

// stuff for signed in welcome padding-to-center


/*                                                        */

.bg-light-gray{

  background-color:#f5f5f5;

}

/*                                                        */

/* index page full width image*/

/*                                                        */

.img-center {

    margin: 0 auto;

}

section {

   padding: 30px 0;

   font-family:'Roboto Slab', serif;

}

.section-heading {

   margin: 30px 0;

   font-size: 4em;

}

.section-lead {

   margin: 30px 0;

}

.section-paragraph {

   margin: 30px 0;

}

.image-bg-fluid-height {

   text-align: center;

   -webkit-background-size: cover;

   -moz-background-size: cover;

   background-size: cover;

   -o-background-size: cover;

   height:500px;

      background: url("http://i.imgur.com/1GwdEj8.jpg") no-repeat center center scroll;

   padding: 100px 0;

}

/* if signed in/ not signed in */

.img-bg-signed-in {

  height: 800px;

}

.img-btn-box {

  margin-top:50px;

}

#img-btn-sign-in{

}

#img-btn-sign-up{

}

/*                                                        */

/* Food Roulette How it Works section */

/*                                                        */

section{padding:60px 0}

section h2.section-heading{

    font-family:"Roboto Slab",Helvetica,Arial,sans-serif;

    font-size:40px;

    margin-top:0;

    margin-bottom:15px;

}

section h3.section-subheading{

  font-size:16px;

  font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;

  text-transform:none;

  font-style:italic;

  font-weight:400;

  margin-bottom:75px;

  }

.text-muted{color:#777}

.text-primary{color:#fed136}

p{

    font-size:14px;

    line-height:1.75;

}

p.large{font-size:16px}

a,a:hover,a:focus,a:active,a.active{outline:0}

a{color:#fed136}

a:hover,a:focus,a:active,a.active{color:#fec503}

/*                                                        */

/* About us section */

/*                                                        */

.team-member{

    text-align:center;

    margin-bottom:35px;

}

.team-member img{

    margin:0 auto;

    border:7px

    solid #fff;

}

.team-member h4{

    margin-top:10px;

    margin-bottom:0;

    text-transform:none;

}

.team-member p{

    margin-top:0;

}

/*                                                        */

/* Social buttons highlight */

/*                                                        */

ul.social-buttons{

    margin-bottom:0

}

ul.social-buttons li a{

    display:block;

    background-color:#222;

    height:40px;

    width:40px;

    border-radius:100%;

    font-size:20px;

    line-height:40px;

    color:#fff;outline:0;

    -webkit-transition:all .3s;

    -moz-transition:all .3s;

    transition:all .3s;

}

ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{

    background-color:#fed136

}

.btn:focus,.btn:active,.btn.active,.btn:active:focus{

    outline:0

}

/*                                                        */

/* Footer*/

/*                                                        */

footer{

    padding:20px 0;

    text-align:center;

}

footer span.copyright{

    line-height:40px;

    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

    text-transform:uppercase;

    text-transform:none;

}

footer ul.quicklinks{

    margin-bottom:0;

    line-height:40px;

    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

    text-transform:uppercase;

    text-transform:none;

}



#roulette{
	width:500px;
	height:500px;
	margin: 30px 10px 50px 10px;
	align: center;
}

.welcomespin {

	-webkit-animation:welcomespin 10s linear infinite;
	-moz-animation:welcomespin 10s linear infinite;
	animation:welcomespin 10s linear infinite;
}

.spin {

	-webkit-animation:spin 4s ease 1;
	-moz-animation:spin 4s ease 1;
	animation:spin 4s ease 1;
}



#title {
	font-size: 30px;
	font-color: #393939;
}



/* application.html header style */
.headerstyle {
	background-color: #CECECE;
	padding :10px;
}

.jumbotron {
	height: 100vh;
	background: transparent;
}

body {
	background-image: url(image-path('pattern.png'));
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: grey;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.buy-box {
	height: 150px;
}

.padding-to-center {
	margin-top: 30vh;
}

.welcome-center {
	margin-top: 15vh;
}

.blk-bg {
	background-color: black;
}

.icon-center {
	margin-top: 10px;
	margin-left: 5px;
}
// beh's stuff

.form-signin {
 max-width: 420px;
 padding: 30px 38px 66px;
 margin: 0 auto;
 background-color: #eee;
 border: 3px dotted rgba(0,0,0,0.1);
 }
.form-signin-heading {
 text-align:center;
 margin-bottom: 30px;
}.form-control {
 position: relative;
 font-size: 16px;
 height: auto;
 padding: 10px;
}input[type="text"] {
 margin-bottom: 0px;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}input[type="password"] {
 margin-bottom: 20px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}.colorgraph {
 height: 7px;
 border-top: 0;
 background: #c4e17f
;
 border-radius: 5px;
 background-image: -webkit-linear-gradient(left, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
 background-image: -moz-linear-gradient(left, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
 background-image: -o-linear-gradient(left, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
 background-image: linear-gradient(to right, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
}

// nicole's stuff
.btnressubmit{
    margin-top:20px;
}
