/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple-sidebar";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");


.well.form-horizontal {
    margin-top:80px;

}

.headerstyle {

    background-color: #CECECE;

    padding :10px;

}

.textparties {

    text-align: left;

}

.avatar-login {

  position: relative;

  margin-top: 15px;

  z-index: 100;

}

.avatar-login img {

  width: 50px;

  height: 50px;

  -webkit-border-radius: 50%;

  -moz-border-radius: 50%;

  border-radius: 50%;

}

.spinpage {
  margin-top: 50px;
  font-family: 'Roboto Slab', sans-serif;
  color:orange;
  background-color:rgba(243,243,243, 0.2);
}

.imgdog {
  width:350px;
  height:350px;

}

/*                                                        */

/* Spinning Wheel animation */

/*                                                        */

@-moz-keyframes spin { 100% {-moz-transform: rotate(1080deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(1080deg); } }

@keyframes spin { 100% {transform: rotate(1080deg); } }

#roulette{

  width:500px;

  height:500px;

  margin: 30px 10px 50px 10px;

  align: center;

}

.spin {

  -webkit-animation:spin 4s ease 1;

  -moz-animation:spin 4s ease 1;

  animation:spin 4s ease 1;

}

.spinner {

}



/*                                                        */

/* Profile page */

/*                                                        */

.user-row {

    margin-bottom: 14px;

}

.user-row:last-child {

    margin-bottom: 0;

}

.dropdown-user {

    margin: 13px 0;

    padding: 5px;

    height: 100%;

}

.dropdown-user:hover {

    cursor: pointer;

}

.table-user-information > tbody > tr {

    border-top: 1px solid rgb(221, 221, 221);

}

.table-user-information > tbody > tr:first-child {

    border-top: 0;

}

.table-user-information > tbody > tr > td {

    border-top: 0;

}

.toppad

{margin-top:20px;

}





/*                                                        */

/* Sign in, sign out page */

/*                                                        */

.wrapper {

  margin-top: 80px;

  margin-bottom: 20px;

}

.form-signin {

  max-width: 420px;

  padding: 30px 38px 66px;

  margin: 0 auto;

  background-color: #eee;

  border: 3px dotted rgba(0,0,0,0.1);

  }

.form-signin-heading {

  text-align:center;

  margin-bottom: 30px;

}

.form-control {

  position: relative;

  font-size: 16px;

  height: auto;

  padding: 10px;

}

input[type="text"] {

  margin-bottom: 0px;

  border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;

}

input[type="password"] {

  margin-bottom: 20px;

  border-top-left-radius: 0;

  border-top-right-radius: 0;

}

.colorgraph {

  height: 7px;

  border-top: 0;

  background: #c4e17f;

  border-radius: 5px;

  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);

  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);

  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);

  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);

}

.calendar {

margin:.25em 10px 10px 0;

padding-top:5px;

float:left;

width:80px;

background:#ededef;

background:-webkit-gradient(linear,left top,left bottom,from(#ededef),to(#ccc));

background:-moz-linear-gradient(top,#ededef,#ccc);

font:bold 30px/60px Arial Black,Arial,Helvetica,sans-serif;

text-align:center;

color:#000;

text-shadow:#fff 0 1px 0;

-moz-border-radius:3px;

-webkit-border-radius:3px;

border-radius:3px;

position:relative;

-moz-box-shadow:0 2px 2px #888;

-webkit-box-shadow:0 2px 2px #888;

box-shadow:0 2px 2px #888

}

.calendar em {

display:block;

font:normal bold 11px/30px Arial,Helvetica,sans-serif;

color:#fff;

text-shadow:#00365a 0 -1px 0;

background:#04599a;

background:-webkit-gradient(linear,left top,left bottom,from(#04599a),to(#00365a));

background:-moz-linear-gradient(top,#04599a,#00365a);

-moz-border-radius-bottomright:3px;

-webkit-border-bottom-right-radius:3px;

border-bottom-right-radius:3px;

-moz-border-radius-bottomleft:3px;

-webkit-border-bottom-left-radius:3px;

border-bottom-left-radius:3px;

border-top:1px solid #00365a

}

.calendar:before,.calendar:after {

content:'';

float:left;

position:absolute;

top:5px;

width:8px;

height:8px;

background:#111;

z-index:1;

-moz-border-radius:10px;

-webkit-border-radius:10px;

border-radius:10px;

-moz-box-shadow:0 1px 1px #fff;

-webkit-box-shadow:0 1px 1px #fff;

box-shadow:0 1px 1px #fff

}

.calendar:before {

left:11px

}

.calendar:after {

right:11px

}

.calendar em:before,.calendar em:after {

content:'';

float:left;

position:absolute;

top:-5px;

width:4px;

height:14px;

background:#dadada;

background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#aaa));

background:-moz-linear-gradient(top,#f1f1f1,#aaa);

z-index:2;

-moz-border-radius:2px;

-webkit-border-radius:2px;

border-radius:2px

}

.calendar em:before {

left:13px

}

.calendar em:after {

right:13px

}

/*                                                        */

.bg-light-gray{

  background-color:#f5f5f5;

}

/*                                                        */

/* index page full width image*/

/*                                                        */

.img-center {

    margin: 0 auto;

}

section {

   padding: 30px 0;

   font-family:'Roboto Slab', serif;

}

.section-heading {

   margin: 30px 0;

   font-size: 4em;

}

.section-lead {

   margin: 30px 0;

}

.section-paragraph {

   margin: 30px 0;

}

.image-bg-fluid-height {

   text-align: center;

   -webkit-background-size: cover;

   -moz-background-size: cover;

   background-size: cover;

   -o-background-size: cover;

   height:500px;

   padding: 100px 0;

}

.image-bg-fluid-height.signedin {

  background: url(image_path("18newnew.jpg")) no-repeat center center scroll;

}

/* if signed in/ not signed in */

.img-bg-signed-in {

  height: 800px;

}

.img-btn-box {

  margin-top:60px;

}

#img-btn{

  font-family : 'Roboto Slab', san-serif;

  color: white;

}

/*                                                        */

/* Food Roulette How it Works section */

/*                                                        */



section{
  padding:60px 0
}

section h2.section-heading{

    font-family:"Roboto Slab",Helvetica,Arial,sans-serif;

    font-size:40px;

    margin-top:30px;

    margin-bottom:15px;

}

section h3.section-subheading{

  font-size:16px;

  font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;

  text-transform:none;

  font-style:italic;

  font-weight:400;

  margin-bottom:75px;

  }

.text-muted{color:#777}

.text-primary{color:#fed136}

p{

    font-size:14px;

    line-height:1.75;

}

p.large{font-size:16px}




/*                                                        */

/* About us section */

/*                                                        */

.team-member{

    text-align:center;

    margin-bottom:35px;

}

.team-member img{

    margin:0 auto;

    border:7px

    solid #fff;

}

.team-member h4{

    margin-top:10px;

    margin-bottom:0;

    text-transform:none;

}

.team-member p{

    margin-top:0;

}

/*                                                        */

/* Social buttons highlight */

/*                                                        */

ul.social-buttons{

    margin-bottom:0

}

ul.social-buttons li a{

    display:block;

    background-color:#222;

    height:40px;

    width:40px;

    border-radius:100%;

    font-size:20px;

    line-height:40px;

    color:#fff;outline:0;

    -webkit-transition:all .3s;

    -moz-transition:all .3s;

    transition:all .3s;

}

ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{

    background-color:#fed136;

}

/*                                                        */

/* Footer*/

/*                                                        */

footer{

    padding:25px 0;

    text-align:center;

}

footer span.copyright{

    line-height:40px;

    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

    text-transform:uppercase;

    text-transform:none;

}

footer ul.quicklinks{

    margin-bottom:0;

    line-height:40px;

    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

    text-transform:uppercase;

    text-transform:none;

}


/* application.html header style */
.headerstyle {
	background-color: #CECECE;
	padding :10px;
}

.jumbotron {
	height: 100vh;
	background: transparent;
}

body {
	background-image: url(image-path('pattern.png'));
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: grey;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.buy-box {
	height: 150px;
}

.padding-to-center {
	margin-top: 30vh;
}

.welcome-center {
	margin-top: 15vh;
}

.blk-bg {
	background-color: black;
}

.icon-center {
	margin-top: 10px;
	margin-left: 5px;
}
// beh's stuff

.form-signin {
 max-width: 420px;
 padding: 30px 38px 66px;
 margin: 0 auto;
 background-color: #eee;
 border: 3px dotted rgba(0,0,0,0.1);
 }
.form-signin-heading {
 text-align:center;
 margin-bottom: 30px;
}.form-control {
 position: relative;
 font-size: 16px;
 height: auto;
 padding: 10px;
}input[type="text"] {
 margin-bottom: 0px;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}input[type="password"] {
 margin-bottom: 20px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}.colorgraph {
 height: 7px;
 border-top: 0;
 background: #c4e17f
;
 border-radius: 5px;
 background-image: -webkit-linear-gradient(left, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
 background-image: -moz-linear-gradient(left, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
 background-image: -o-linear-gradient(left, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
 background-image: linear-gradient(to right, #c4e17f
, #c4e17f
12.5%, #f7fdca
12.5%, #f7fdca
25%, #fecf71
25%, #fecf71
37.5%, #f0776c
37.5%, #f0776c
50%, #db9dbe
50%, #db9dbe
62.5%, #c49cde
62.5%, #c49cde
75%, #669ae1
75%, #669ae1
87.5%, #62c2e4
87.5%, #62c2e4
);
}

// nicole's stuff
.btnressubmit{
    margin-top:20px;
}
