// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* fonts*/

.col-md-12 {
	text-align: center;

}


#subtitle a:link, a:hover, a:visited{
	text-decoration: none;
}

#subtitle a:link{
	color: #9f9f9f;
}

#subtitle a:hover{
	color: #fa8d23;
}

#subtitel a:visited{
	color: #ffa943;
}
